body {
    background-color:rgb(193, 234, 234);
}
.top {
    font-size:xx-large;
    font-weight: bolder;
}
.lnk:link {
    color:chocolate;
}
.lnk:hover {
    color:aqua;
    font-size:xx-large;
}
h1 {
    color:black;
}